.container {
  padding-top: 16px;
}
.contentWrapper {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
  box-shadow: 0px 7px 7px -3px rgba(1, 49, 17, 0.6);
}
.contentImg {
  width: 320px;
  height: 480px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 30px;
}
.description {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.genresList {
  display: flex;
  gap: 8px;
}
.extraContent {
  font-size: 24px;
}
.additionalList {
  display: flex;
  gap: 20px;
}
.linkItem {
  text-decoration: none;
  color: #838c3b;
  font-weight: bold;
  transition: box-shadow 0.8s ease-in-out;
}

.linkItem:hover {
  box-shadow: 0px 3px 3px rgba(30, 122, 110, 0.6);
}
.linkActive {
  color: rgb(2, 63, 33);
}
.extraContentWrapper {
  margin-bottom: 8px;
}
