.reviewList {
  max-width: 880px;
}
.reviewListItem {
  margin-bottom: 20px;
  box-shadow: 0px 7px 7px -3px rgba(1, 49, 17, 0.6);
}
.reviewAuthor {
  font-size: 18px;
  color: rgb(2, 63, 33);
  margin-bottom: 8px;
}
